//The common css goes here

.navbar {
  min-height: 40px;
}

hr {
  width: 90%;
}
.glyphicon {
	font-size:1.2em;
}

.details-action button {
	color:white;
	background-color:purple;
	border-color:purple;
}

.details-action button:hover {
	/* purple light */
	background-color:plum;
}

//TODO rien à faire ici
.price {
	font-weight:bold;
}
