//The common css goes here
@import "variables";

body{
  font-family: Helvetica, Arial;
}

hr {
  width: 90%;
}

a{
  color : @violet1;
}

.no-padding{
  padding : 0;
}
.padding-10{
  padding : 10px;
}

.centered{
  text-align: center;
}

.glyphicon, .fa {
	font-size:1.2em;
}

button.btn {
	color:white;
	background-color:@violet1;
	border-style : none;
}
button.btn {
	color:white;
	background-color:@violet1;
	border-style : none;
}

button.btn-link{
	background:none;
}
button.btn-link:hover {
	background:none;
}
//make bootstrap columns full height
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.center-table-trick{
  display : table;
  height : 100%;
  width : 100%;
}
.center-cell-trick{
  display : table-cell;
  vertical-align : middle;
  text-align : center;
}
//TODO rien à faire ici
.price {
	font-weight:bold;
}
