// CSS Spécifique à l'accueil
.container-home .container-small-center{
  width : 80%;
  max-width : 400px;
  margin : auto;
}
.container-home .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 70px;
}
.container-home input {
  margin-bottom : 10px;
}

.inscription-link {
  margin-top: 5px;
}

.top-margin-30 {
  margin-top: 30px;
}
