<template name="details">
	{{> navbar title="Détails du trajet" mode=1}}
	<div class="container-details">

		<p id="notification-reservation" class="container-notification" hidden>
			Vous avez réservé le trajet.
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<br>
			<span class="info">
				Nous vous notifierons quand Johnny aura accepté votre demande.
			</span>
		</p>

		<div id="notification-trajet-accepte" class="container-notification" hidden>
			Vous avez réservé le trajet.
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<br>
			<span class="info">
				Johnny a accepté votre demande.
			</span>
		</div>

		<div>
			{{> profilInfos}}
			<p class="price">1€</p>
		</div>

		<div>
			depart-arrivée
		</div>

		<p>
			Nbr de places dispo
		</p>

		<p>
			Volume accepté : ...
		</p>

		<div>
			<a class="btn btn-primary" href="/discussion/:id_discussion{{idDiscussion}}">Envoyer un message</a>
			<button type="button" class="btn btn-primary">Réserver</button>
		</div>
	</div>
</template>
