<template name="details">
	{{> navbar title="Détails du trajet" mode=1}}
	<div class="container-details">

		<p id="notification-reservation" class="container-notification" hidden>
			Vous avez réservé le trajet.
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<br>
			<span class="info">
				Nous vous notifierons quand Johnny aura accepté votre demande.
			</span>
		</p>

		<div id="notification-trajet-accepte" class="container-notification" hidden>
			Vous avez réservé le trajet.
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<br>
			<span class="info">
				Johnny a accepté votre demande.
			</span>
		</div>

		<div>
			<p class="price">1€</p>
			{{> profilInfos nom="Johnny H" Avatar="/images/johnny_h.png"}}

			<p class="info">
				Hello ! Je vais faire des courses au <br>
				BonBio, je suis flexible sur l'heure et <br>
				un petit détour peut se négocier ;)
			</p>
		</div>

		<div class="container">
			<div class="departure row">
				<div class="col-sm ride">
					<div class="circle"></div>
					<div class="rectangle"></div>
					<div class="arrow-down"></div>
					<div class="circle"></div>
				</div>
				<div class="col-sm">
					<div class="depart">
						Départ à <span class="data">14h15</span>
						<br>
						<span class="data">La Doua - Villeurbanne</span>
					</div>
					<div class="destination">
						Arrivée à <span class="data">14h20</span>
						<br>
						<span class="data">BonBio - Villeurbanne</span>
					</div>
				</div>
			</div>
		</div>

		<p class="top-margin-30 data-places">

      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			-
			2 places disponbiles
		</p>

		<p class="top-margin-30">
			Volume accepté : <span class="data-contenance">70 Litres - Valise</span>
		</p>

		<div class="row top-margin-30">
			<a href="/discussion/00001" class="btn btn-primary col-xs-4 col-xs-offset-1">
				<span class="full-size">Envoyer un<br> message</span>
			</a>
			<button type="button" class="btn btn-primary col-xs-4 col-xs-offset-1 reserver-button">
				<span class="full-size top-margin-10">Réserver</span></button>
		</div>
	</div>
</template>
