<template name="searchResults">
  {{> navbar title="Recherche" mode=1}}
  <table class="searchResultNavBar">
    <form action="" class="search-quick-menu">
      <tr>
        <td>
          <a href="/passenger" class="btn btn-link">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <input type="text" placeholder="Départ" id="depart-input" >
          <input type="text" placeholder="Arrivée" id="arrivee-input" >
        </td>
        <td>
          <button type="button" class="btn btn-link switch-button">
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </td>
        <td>
          <input type="date">
          <input type="time">
        </td>
        <td>
          <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </form>
  </table>

  <div class="filter-params">
    <div class="filters">
      <div class="row">
        <div class="col-xs-8">
          <span>Rayon : <span id="label-slider-range">2</span> km</span>
          <input type="range" min=0 max=50 value=2 class="slider" id="toleranceSlider">
          <br>
          <br>
          <span>Flexibilité : <span id="label-slider-rangeH">1</span> heure(s)</span>
          <input type="range" min=0 max=12 value=1 class="slider" id="toleranceSliderH">
        </div>
        <div class="col-xs-3">
            <label for="filter-aller-retour">
              <input type="checkbox" name="round-trip" id="filter-aller-retour"> Uniquement A/R
            </label>
        </div>
        <div class="col-xs-12 top-margin-30">
          <span class="hide-filters">
            Cacher les filtres <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span><br>
          </span>
        </div>
      </div>
    </div>

    <div class="replace-filters" hidden>
      <span class="show-filters">
        Afficher les filtres <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><br>
      </span>
    </div>
  </div>

  <div>

    {{> singleSearchResult Prix="1" Date="04/12/2017" Heure="8h18" Conducteur="Johnny H" Depart="La Doua" Arrivee="Bon Bio'" ProfilePicture="/images/johnny_h.png"}}
    {{> singleSearchResult Prix="2" Date="04/12/2017" Heure="9h00" Conducteur="Johnny Bravo" Depart="La Doua" Arrivee="Carrefour" ProfilePicture="/images/johnny_bravo.png"}}
    {{> singleSearchResult Prix="2" Date="04/12/2017" Heure="9h10" Conducteur="Peter Parker" Depart="La Doua" Arrivee="Bricoland" ProfilePicture="/images/spiderman.png"}}

  </div>
</template>
