<template name="searchResults">
  <table class="searchResultNavBar full-width">
    <form action="javascript:void(0);" class="form-group stylised-menu">
      <tr>
        <td>
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </td>
        <td>
          <input type="text">
          <input type="text">
        </td>
        <td>
          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
        </td>
        <td>
          <input type="date">
          <input type="time">
        </td>
        <td>
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span><br>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </td>
      </tr>
    </form>
  </table>
  <div>
    {{> singleSearchResult Prix="1€" Date="04/12/2017" Heure="8h18" Conducteur="Johnny H" Depart="La Doua" Arrivee="Bon Bio'" ProfilePicture="/images/johnny_h.png"}}
    {{> singleSearchResult Prix="2€" Date="04/12/2017" Heure="9h00" Conducteur="Johnny Bravo" Depart="La Doua" Arrivee="Carrefour" ProfilePicture="/images/johnny_bravo.png"}}
    {{> singleSearchResult Prix="2€" Date="04/12/2017" Heure="9h10" Conducteur="Peter Parker" Depart="La Doua" Arrivee="Bricoland" ProfilePicture="/images/spiderman.png"}}
  </div>
</template>
