<template name="details">
	<div class="container">
		<div class="container-fluid profile_resume">
			<div class="col-xs-2 col-md-2 profile_picture">
				<img src="/images/johnny.jpeg" alt="Profil de Johnny H"/>
			</div>
			<div class="col-xs-6 col-md-4">
				<p>Johnny H</p>
				<div class="star_rating">
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				</div>
			</div>
			<div class="col-xs-4 col-md-6">
				<p class="price">1€</p>
			</div>
			
		</div>
		<div>
		</div>
		<div>
		</div>
		<div class="container details_action">
			<div class="col-xs-5">
				<button type="button" class="btn btn-primary">Envoyer un message</button>
			</div>
			<div class="col-offset-2 col-xs-5">
				<button type="button" class="btn btn-primary">Réserver</button>
			</div>
		</div>
	</div>
</template>