<template name="details">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-md-6">
				{{> profilInfos}}
			</div>
			<div class="col-xs-4 col-md-6">
				<p class="price">1€</p>
			</div>
		</div>
		<div class="container details-action">
			<div class="col-xs-5">
				<button type="button" class="btn btn-primary">Envoyer un message</button>
			</div>
			<div class="col-xs-offset-2 col-xs-5">
				<button type="button" class="btn btn-primary">Réserver</button>
			</div>
		</div>
	</div>
</template>
