<template name="discussion">
  {{> navbar title="Messagerie" mode=1}}
  <div class="container">
      <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
          <div class="col-xs-12 col-md-12">
          	<div class="panel panel-default">
                  <div class="panel-body msg_container_base">
                      <div class="row msg_container base_sent">
                          <div class="col-md-10 col-xs-10">
                              <div class="messages msg_sent">
                                  <p>Salut Johnny ! c'est possible de me laisser à BonBio' ?</p>
                                  <time datetime="2018-01-13T10:00">France • 14 min</time>
                              </div>
                          </div>
                          <div class="col-md-2 col-xs-2 avatar">
                              <img src="/images/France_G.jpg" class=" img-responsive ">
                          </div>
                      </div>
                      <div class="row msg_container base_receive">
                          <div class="col-md-2 col-xs-2 avatar">
                              <img src="/images/johnny_h.png" class=" img-responsive ">
                          </div>
                          <div class="col-md-10 col-xs-10">
                              <div class="messages msg_receive">
                                  <p>Ca roule ma poule</p>
                                  <time datetime="2018-01-13T20:00">Johnny • 4 min</time>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <div class="input-group">
                          <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Ecrivez ici" />
                          <span class="input-group-btn">
                          <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                          </span>
                      </div>
                  </div>
      		  </div>
          </div>
      </div>

      <div class="btn-group dropup">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog"></span>
              <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
          </ul>
      </div>
  </div>
</template>
