<template name="help">
  {{> navbar mode=0 title="Aide"}}
  <div class="help-content">
    <h4>Demande de trajet</h4>
    <p class="help-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate ante ut sem aliquam porttitor. Quisque ut risus euismod, bibendum arcu sed, laoreet dolor. Vivamus at libero convallis, vestibulum eros condimentum, ultricies enim. Vestibulum sollicitudin quam in cursus dapibus. Aliquam laoreet pharetra rhoncus. Phasellus pellentesque condimentum orci, vitae pulvinar arcu fermentum lacinia. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin in tempor nisl. Fusce tincidunt ipsum a metus lobortis, et hendrerit ligula imperdiet.
    </p>
    <h4>Paiement</h4>
    <p class="help-paragraph">
      Suspendisse eu libero sapien. Suspendisse cursus turpis quis rutrum sollicitudin. Suspendisse porttitor mauris eget elementum auctor. Etiam varius, orci sed ultricies ultrices, nunc odio faucibus ante, pharetra scelerisque justo justo nec magna. Pellentesque magna metus, lacinia convallis felis ac, condimentum pretium lorem. Fusce ultricies libero eget purus pulvinar rutrum. Vivamus nec purus vitae tortor sagittis consequat at non sapien. Vivamus tempus a mi quis gravida. Donec velit urna, finibus vel justo at, scelerisque scelerisque orci. Integer auctor convallis elit, nec bibendum velit auctor vitae. Morbi ultricies, turpis vel mattis pretium, nulla lacus lacinia purus, nec sollicitudin dolor urna vel ante.
    </p>
    <h4>Messagerie</h4>
    <p class="help-paragraph">
      Donec tristique eros a mauris tincidunt, at porta ex porttitor. Sed a mauris id tortor pretium auctor et in erat. Mauris vulputate magna sit amet diam mollis, id accumsan nulla ullamcorper. Morbi pharetra nisi quis lorem facilisis, eu fermentum enim vehicula. Nunc lacus erat, pharetra sit amet feugiat eget, sagittis eget sem. Donec sit amet imperdiet sem, id pellentesque ex. Duis suscipit bibendum lacinia. Pellentesque aliquet ipsum in semper volutpat. Ut aliquam, libero vitae dictum posuere, elit libero dapibus leo, non ornare justo mauris quis purus.
    </p>
    <h4>Utilisation</h4>
    <p class="help-paragraph">
      Suspendisse cursus turpis quis rutrum sollicitudin. Suspendisse porttitor mauris eget elementum auctor. Etiam varius, orci sed ultricies ultrices, nunc odio faucibus ante, pharetra scelerisque justo justo nec magna. Pellentesque magna metus, lacinia convallis felis ac, condimentum pretium lorem. Fusce ultricies libero eget purus pulvinar rutrum. Vivamus nec purus vitae tortor sagittis consequat at non sapien. Vivamus tempus a mi quis gravida. Donec velit urna, finibus vel justo at, scelerisque scelerisque orci. Integer auctor convallis elit, nec bibendum velit auctor vitae. Morbi ultricies, turpis vel mattis pretium, nulla lacus lacinia purus, nec sollicitudin dolor urna vel ante.
    </p>
  </div>
</template>
