<template name="mailbox">
  {{> navbar title="Messagerie" mode=1}}

  {{>singleMail ProfilePicture="/images/johnny_h.png" Destinataire="Johnny" nbrTrajets=3 Heure="10:01" read=false }}
  {{>singleMail ProfilePicture="/images/johnny_h.png" Destinataire="Johnny" nbrTrajets=3 Heure="10:00" read=false}}
  {{>singleMail ProfilePicture="/images/johnny_h.png" Destinataire="Johnny" nbrTrajets=3 Heure="lun 1/01" read=true}}
  {{>singleMail ProfilePicture="/images/johnny_h.png" Destinataire="Johnny" nbrTrajets=3 Heure="dim 31/12" read=true}}
  {{>singleMail ProfilePicture="/images/johnny_h.png" Destinataire="Johnny" nbrTrajets=3 Heure="dim 31/12" read=true}}
</template>
