<template name="sidebar">
  <div class="background">
    <div class="sidemenu">
      <div class="user-infos">
        <h3>Utilisateur</h3>
      </div>
      <div class="liens">
        <hr>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <button class="sidebarButton">Rechercher</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="sidebarButton">Proposer</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <button class="sidebarButton">Demandes</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="sidebarButton">Messages</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="sidebarButton">Historique</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <button class="sidebarButton">Paramètres</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="sidebarButton">Aide</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
