@import "../variables";

.profile-picture{
	width : 80px;
	height : 80px;
	border:1px solid @green1;
	border-radius:50%;
	overflow : hidden;
}
.profile-picture img {
	max-width : 100%;
	min-height : 80px;
}

.profile-container {
	width:150px;
	height:150px;
	overflow:hidden;
	margin:2px;
}
