<template name="demande">
<div class="row request">
  <div class="col-xs-2">
    {{> avatar url=Img}}
  </div>
  <div class="col-xs-10">
    <p>
      {{Prenom}} {{Nom}}
      {{#if Attente}}
        <div class="action-request">
          <button id="accept" type="button" class="btn btn-link switch-button full-height">
            <span class="glyphicon glyphicon-ok accept-request"></span>
          </button>
          <button id="refuse" type="button" class="btn btn-link switch-button full-height">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      {{/if}}
    </p>
  </div>
</div>
</template>
