<template name="navbar">


  <!--
    navbar
  -->
  <nav class="navbar navbar-default {{#unless equals mode 2}} green {{/unless}}{{#if equals mode 2}} blue {{/if}}">
    <div class="navbar-header centered">
      <button type="button" class="btn btn-link pull-left show-hide-menu" aria-label="Menu">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>

      {{#if equals mode 1}}
      <a href="/driver" class="btn btn-link pull-right go-driver-mode" aria-label="Menu">
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
      </a>
      {{/if}}

      {{#if equals mode 2}}
      <a href="/passenger" class="btn btn-link pull-right go-passenger-mode" aria-label="Menu">
        <span class="fa fa-hand-stop-o" aria-hidden="true"></span>
      </a>
      {{/if}}
<!-- pas là, 'est moche. et utiliser l'histo c'est bien mais ça pose plein de probleme, y compris s'il vient d'un autre site.
      {{#if equals mode 3}}
      <a href="#" onclick="history.go(-1)" class="btn btn-link pull-right" aria-label="Menu">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      {{/if}}

-->
      <div class="nav-bar-title">
        {{title}}
      </div>

    </div>
  </nav>

    <!--
      sidebar
    -->
  <div class="full-size" id="sidebarComponent" hidden>
    <div class="rightSide full-size show-hide-menu">
    </div>
    <div class="full-size sidemenu">

      {{#unless equals mode 0}}
      <div class="user-infos">
        {{> profilInfos}}
      </div>
      {{/unless}}

      <div class="liens">

        {{#unless equals mode 0}}
        <hr>
        <a href="/passenger">Rechercher</a>
        <a href="/driver">Proposer</a>
        <hr>
        <a href="#">Demandes</a>
        <a href="/mails">Messages</a>
        <a href="#">Historique</a>
        <a href="#">Mon Solde</a>
        <hr>
        {{/unless}}

        <a href="/">Home</a>
        <a href="/parameters">Paramètres</a>
        <a href="/help">Aide</a>
        <hr>

        {{#unless equals mode 0}}
        <a href="/">Déconnexion</a>
        <hr>
        {{/unless}}

        <button type="button" class="btn btn-link show-hide-menu" aria-label="Close Menu">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</template>
