<template name="navbar">


  <!--
    navbar
  -->
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="btn btn-link show-hide-menu" aria-label="Menu">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>
  </nav>

    <!--
      sidebar
    -->
  <div class="full-size" id="sidebarComponent" hidden>
    <div class="rightSide full-size show-hide-menu">
    </div>
    <div class="full-size sidemenu">
      <div class="user-infos">
        {{> profilInfos}}
      </div>
      <div class="liens">
        <hr>
        <button>Rechercher</button>
        <button>Proposer</button>
        <hr>
        <button>Demandes</button>
        <button>Messages</button>
        <button>Historique</button>
        <hr>
        <button>Paramètres</button>
        <button>Aide</button>
      </div>
    </div>
  </div>
</template>
