<template name="profilInfos">
    <table>
      <tr>
        <td>
          {{> avatar url=Avatar}}
        </td>
        <td class="padding-10">
          <p>{{nom}}</p>
          <p class="star-rating">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </p>
        </td>
      </tr>
    </table>
</template>
