<template name="profilInfos">
    <table>
      <tr>
        <td>
          <div class="profile-picture">
            <img src="/images/johnny.jpg" alt="Avatar"/>
          </div>
        </td>
        <td class="padding-10">
          <p>Johnny H</p>
          <p class="star-rating">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </p>
        </td>
      </tr>
    </table>
</template>
