<template name="profilInfos">
  <div class="row">
    <div class="col-xs-3 col-md-4 profile-picture">
      <img src="/images/johnny.jpeg" alt="Avatar"/>
    </div>
    <div class="col-xs-9 col-md-8">
      <p>Johnny H</p>
      <div class="star-rating">
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</template>
