<template name="sidebar">
  <div class="background">
    <div class="sidemenu">
      <div class="user-infos">
        {{> profilInfos}}
      </div>
      <div class="liens">
        <hr>
        <button>Rechercher</button>
        <button>Proposer</button>
        <hr>
        <button>Demandes</button>
        <button>Messages</button>
        <button>Historique</button>
        <hr>
        <button>Paramètres</button>
        <button>Aide</button>
      </div>
    </div>
  </div>
</template>
