<template name="sidebar">
  <div class="background" id="sidebarComponent">
    <div class="rightSide" onclick="HideShowSideBar()">
    </div>
    <div class="sidemenu">
      <div class="user-infos">
        {{> profilInfos}}
      </div>
      <div class="liens">
        <hr>
        <button>Rechercher</button>
        <button>Proposer</button>
        <hr>
        <button>Demandes</button>
        <button>Messages</button>
        <button>Historique</button>
        <hr>
        <button>Paramètres</button>
        <button>Aide</button>
      </div>
    </div>
  </div>
  <script>
    function HideShowSideBar() {
      var x = document.getElementById("sidebarComponent");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
</template>
