<template name="singleDriverDrive">
  <table class="single-drive">
    <tr>
      <td class="size2">
        {{> pie percentage=Percentage passengerNumber=PassengerNumber}}
      </td>
      <td class="size1">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td>
        <a href="/driver/0001">
          <strong>{{Conducteur}}</strong>
          <p class="info">
            <span>{{Depart}} - {{Arrivee}}</span>
            <br>
            <span>{{Date}} à <strong>{{Heure}}</strong></span>
          </p>
        </a>
      </td>
      <td class="size1">
        <span class="price-text">{{Prix}} €</span>
      </td>
    </tr>
  </table>
</template>
