<template name="singleSearchResult">
  <table class="single-search-result">
    <tr>
      <td class="size2">
        <div class="profile-picture">
          <img src={{ProfilePicture}} alt="Avatar"/>
        </div>
      </td>
      <td class="size1">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td>
        <strong>{{Conducteur}}</strong>
        <p class="info">
          <span>{{Depart}} - {{Arrivee}}</span>
          <br>
          <span>{{Date}} à {{Heure}}</span>
        </p>
      </td>
      <td class="size1">
        <span class="price-text">{{Prix}} €</span>
      </td>
    </tr>
  </table>
</template>
