<template name="travelContent">
<div class="container-details">

<div class="container">
  <div class="departure row">
    <div class="col-sm ride">
      <div class="circle"></div>
      <div class="rectangle"></div>
      <div class="arrow-down"></div>
      <div class="circle"></div>
    </div>
    <div class="col-sm">
      <div class="depart">
        Départ à <span class="data">{{HeureDepart}}</span>
        <br>
        <span class="data">{{Depart}}</span>
      </div>
      <div class="destination">
        Arrivée à <span class="data">{{HeureArrivee}}</span>
        <br>
        <span class="data">{{Arrivee}}</span>
      </div>
    </div>
  </div>
{{#if Retour}}
  <div class="row">
    <label>Retour :</label>
  </div>
  <div class="departure row">
    <div class="col-sm ride">
      <div class="circle"></div>
      <div class="rectangle"></div>
      <div class="arrow-down"></div>
      <div class="circle"></div>
    </div>
    <div class="col-sm">
      <div class="depart">
        Départ à <span class="data">{{HeureDepartRetour}}</span>
        <br>
        <span class="data">{{DepartRetour}}</span>
      </div>
      <div class="destination">
        Arrivée à <span class="data">{{HeureArriveeRetour}}</span>
        <br>
        <span class="data">{{ArriveeRetour}}</span>
      </div>
    </div>
  </div>
{{/if}}
</div>

<p class="top-margin-30">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  -
  {{NbPlacesDispo}} places disponbiles
</p>

<p class="top-margin-30">
  Volume accepté :
  <select class="form-control" id="input-bag-size">
    <option>{{Volume}}</option>
    <option>Petit sac</option>
    <option>Sac de voyage</option>
    <option>Valise</option>
  </select>
</p>
</div>
</template>
